@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Outfit:wght@400;600&family=Poppins:wght@700&family=Raleway:wght@600&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.cabecalho {
    padding: 1.5% 0% 1.5% 41%;
    background-color: #36453B;
}

.cabecalho__menu {
    display: flex;
    gap: 35px;
}

.cabecalho__menu__link {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #D7DC79;
}

.apresentacao {
    background-color: #BEC7B4;
    color: #2F3B1C;
    padding: 5%;
}

.apresentacao__titulo {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.apresentacao__texto {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.apresentacao__conteudo {
    background-color: #DDDFD1;
    display: flex;
    align-items: center;
    padding: 8% 25% 6% 29%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #2F3B1C;
}

.apresentacao__conteudo__titulo {
    font-size: 18px;
}

.apresentacao__conteudo__texto {
    font-size: 18px;
    margin-top: 9px;
}

.sobre {
    background-color: #DDDFD1;
    padding: 5% 20% 5% 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2F3B1C;
}

.wrapper {
    overflow-x: hidden;
    background-color: #DDDFD1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.produto {
    margin: 5%;
}

.produto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cha {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color:#032604;
}

.produto-item {
    width: calc(50% - 16px);
    margin: 12px;
    max-width: 300px;
}

.produto-img {
    position: relative;
    overflow: hidden;
}

.produto-item img {
    width: 80%;
    display: block;
}

.produto-img div {
    width: 100%;
    padding: 3% 1%;
}

.add-btn {
    width: 80%;
    background-color: transparent;
    border: 2px solid #BEC7B4;
    color:#2F3B1C;
    border-radius: 10px;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;   
}

.add-btn:hover {
    background-color: #BEC7B4;
}

.contato {
    background-color: #DDDFD1;
    padding: 12% 15% 12% 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    color: #2F3B1C;  
    
}

.contato h3 {
    text-transform: uppercase;
    margin-bottom: 1%;
}

.contato__email span, .contato__telefone span {
    font-weight: 700;
}

.rodape {
    background-color: #B7B4A2;
    color: #032604;
    padding: 3%;
    text-align: center;
    font-size: 15px;
    line-height: 2.5;
    font-family: 'Work Sans', sans-serif;
}

.rodape__texto {
    font-size: 21px;
    font-family: 'Inter', sans-serif;
}
